.board-index-item, .single-list {
  min-height: 55px;
  background-color: lightblue;
  border: 1px solid darkblue;
  margin: 5px;
}


.back-to-home {
  display: block;
  clear: both;
}

.list-card {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 2px;
  padding-left: 8px;
  margin: 5px 0px;
}

.cards {
  min-height: 30px; //This is to allow cards to be dropped onto empty list
}

.clearfix:after { 
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}