body {
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #4d4d4d;
}

#main {
  margin: 0px 15px;
}

h1 {
  margin: 10px;
}

.back-to-home {
//  padding: 15px;
  display: block;
  clear: both;
  padding-left: 10px;
  padding-bottom: 5px;
  
}

.board-index-item, .single-list {
  min-height: 55px;
  background-color: lightblue;
  border-radius: 3px;
//  border: 1px solid darkblue;
  padding: 5px;
  margin: 5px;
//  margin-bottom: 10px;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}




.list-title {
  margin: 4px;
  font-size: 17px;
}

.list-card {
  background-color: white;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 2px;
  padding-left: 8px;
  margin: 5px 0px;
  color: #4d4d4d;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.cards {
  min-height: 30px; //This is to allow cards to be dropped onto empty list
}

.clearfix:after { 
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.ui-sortable-helper { //rotate anything that is moved
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
  transform: rotate(4deg);
}

.before-placed-highlight {
  background-color: #fbf9ee;
  border: 1px solid #fcefa1;
}
